.compass-menu {
  position: fixed;

  bottom: 20px;
  right: 20px;

  z-index: 1000;
}

.compass-menu img {
  width: 100px;

  cursor: pointer;

  transition: transform 0.3s ease;
}

.compass-menu img:hover {
  transform: scale(1.65);
}

.menu-dropdown {
  position: absolute;
  width: 250px;
  bottom: 80px;
  right: 0;

  display: flex;
  flex-direction: column;

  gap: 10px;

  opacity: 0;
  visibility: hidden;

  transition: all 0.25s ease;

  background: rgba(20, 14, 10, 0.95);

  padding: 14px;

  padding-bottom: 24px;

  border-radius: 10px;

  border: 1px solid rgba(201, 168, 97, 0.35);
}

.compass-menu:hover .menu-dropdown {
  opacity: 1;
  visibility: visible;
}

.menu-dropdown a {
  color: goldenrod;

  text-decoration: none;

  font-weight: bold;

  letter-spacing: 1px;

  ;
}

.menu-dropdown a:hover {
  color: #fff2cc;
}

h4 {
  color: goldenrod;
    text-decoration: none;

  font-weight: bold;

  letter-spacing: 1px;
}

h2 {
  color: goldenrod;
    text-decoration: none;
  margin-bottom: 0px;
  font-weight: bold;

  letter-spacing: 1px;
}

.music-toggle {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;

  font-size: 30px;

  cursor: pointer;

  color: goldenrod;
}

.logout-button {
padding: 8px;
background-color: goldenrod;
border: 1px solid goldenrod;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 18px;
border-radius: 4px;
}

.logout-button:hover {
  background-color: #b8860b;
  border-color: #b8860b;
}